* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #FFDAB9;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
  }
  
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFDAB9;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #header-text {
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Roboto', Arial, sans-serif; 
  }
  
  #logo-container {
    display: flex;
    align-items: center;
  }
  
  #header-img {
    height: 50px;
    margin-right: 1em;
  }
  
  @media (max-width: 600px) {
      #nav-bar {
          flex-direction: column;
      }
  
      .nav-link {
          margin: 10px 0;
      }
  }
  
  #nav-bar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
  }
  
  #nav-bar ul li {
    margin: 0 1em;
  }
  
  #nav-bar ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  main {
    padding-top: 5em;
  }
  
  #offerings {
    text-align: center;
    margin: 2em 0;
  }
  
  .offering {
    margin: 1em 0;
  }
  
  .icon {
    color: blue;
  }
  
  #pricing {
    text-align: center;
    padding: 2em 0;
  }
  
  .pricing-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
  }
  
  .pricing-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    padding: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .pricing-card h3 {
    background-color: #f4f4f4;
    padding: 0.5em;
    margin: -1em -1em 1em -1em;
    border-bottom: 1px solid #ccc;
  }
  
  .price {
    font-size: 2em;
    color: #333;
  }
  
  .pricing-card p {
    margin: 0.5em 0;
  }
  
  .select-button {
    background-color: #ffcc00;
    border: none;
    padding: 0.5em 1em;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1em;
    margin-top: 1em;
    text-transform: uppercase;
  }
  
  .select-button:hover {
    background-color: #e6b800;
    transform: scale(1.05);
  }
  
  /* Contact Section */
  #contact {
    text-align: center;
    padding: 2em 0;
  }
  
  #contact form {
    display: inline-block;
    text-align: left;
  }
  
  #contact input[type="text"],
  #contact input[type="number"],
  #contact input[type="email"] {
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
  }
  
  /* Testimonials Section */
  #testimonials {
    text-align: center;
    padding: 2em 0;
  }
  
  #testimonials iframe {
    width: 45%;
    height: 315px;
    border: none;
    margin: 0 auto;
    display: block;
  }